.catalog {
  width: 100%;
  padding: 164px 0 180px;

  
  @include vp-767 {
    padding: 120px 0;
  }

  &__text {
    .title {
      display: block;
      width: 85%;
      margin-bottom: 30px;
      line-height: 1;
    }

    p {
      width: 85%;
      margin-bottom: 46px;
    }
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    gap: 40px;
    justify-content: center;
    width: 100%;
    counter-reset: num;

    @include vp-767 {
      grid-template-columns: repeat(auto-fill, minmax(100% ,440px));
      gap: 15px;
    }
  }

  .product {
    position: relative;
    counter-increment: num;
    background: $color-snow;

    &::before {
      content: counter(num);
      position: absolute;
      left: 40px;
      top: 40px;
      font-size: 25px;
      font-weight: 100;
    }

    &:nth-child(2n) {
      background: $color-white-smoke;
    }

    &:nth-child(-n+9):before {
      content: "0" counter(num);
    }
  }
}