.contact-us {
  position: relative;
  padding-bottom: 180px;
  background: linear-gradient(180deg, $color-default-white 33%, $color-whisper 33%);

  .container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: nowrap;

    @include vp-767 {
      flex-direction: column;
      padding: 0;
    }
  }

  .form,
  .contacts {
    width: 50%;

    @include vp-767 {
      width: 100%;
    }
  }

  .form {
    border-radius: 0px 20px 20px 0px;

    @include vp-767 {
      border-radius: none;
    }
  }

  .contacts {
    border-radius: 20px 0px 0px 20px;

    @include vp-767 {
      border-radius: none;
    }
  }

  &__img {
    position: absolute;
    top: 17%;
    left: 36.2%;
    width: 291px;
    height: 591px;

    @include vp-1919 {
      width: 15.36vw;
      height: 30.79vw;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &.bg-text {
    &::after {
      left: 10px;
      bottom: 50px;
      width: 84vw;
      height: 22vw;
      background: url("../img/our-contacts.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center left;
    }
  }
}