.footer {
  width: 100%;
  padding: 60px 0 40px;
  font-size: 16px;

  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 57px;
  }

  &__logo {
    width: 112px;
    height: 112px;
    margin-right: 9.4%;
    margin-top: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav-wrapper {
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    .title {
      margin-bottom: 10px;
    }

    @include vp-1023 {
      width: 100%;
    }
  }

  &__list {
    width: 220px;
    color: $color-bunker;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__contacts {
    width: 100%;
    padding-top: 38px;
    border-top: 1px solid $color-whisper-2;
  }

  &__contacts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  &__contacts-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__social {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }

  &.bg-text {
    &::after {
      right: 10px;
      top: 133px;
      width: 26.82vw;
      height: 9vw;
      background: url("../img/dell-footer.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center left;
    }
  }
}