.header {
  width: 100%;
  padding: 27px 0;
  background-color: $color-default-white;

  @include vp-767 {
    padding: 15px 0;
  }

  .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include vp-767 {
      flex-wrap: nowrap;
      gap: 15px;
    }
  }

  &__logo {
    width: 70px;
    height: 70px;
    margin-right: 30px;

    @include vp-767 {
      width: 60px;
      height: 60px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .nav {
    margin-right: 20px;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: auto;
    margin-left: 18px;

    @include vp-767 {
      margin-left: 21px;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include vp-767 {
      gap: 15px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: $color-snow;
    border: none;
    cursor: pointer;

    @include vp-767 {
      width: 46px;
      height: 46px;
    }

    &--basket {
      position: relative;
    }

    svg {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
    }
  }

  &__name {
    font-size: 20px;
    color: $color-default-black;
  }

  &__btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 23px;
  }

  &__num {
    position: absolute;
    z-index: 2;
    bottom: 35px;
    left: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 16px;
    min-height: 16px;
    aspect-ratio: 1/1;
    padding: 4px;
    text-align: center;
    border-radius: 50%;
    background-color: $color-blue;

    @include vp-767 {
      bottom: 31px;
      left: 31px;
    }

    span {
      font-size: 12px;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      color: $color-default-white;
    }
  }

  &.is-active {
    .menu {
      height: auto;
      min-height: 100vh;
      background-color: rgba(63, 63, 63, 0.50);

      &__list {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
      }
    }

    .burger {
      &__line {
        transform: translateX(-200%);

        &:nth-of-type(2) {
          transform: translateX(200%);
        }
      }

      &::before {
        transform: rotate(45deg);
        transition-delay: 0.3s;
      }

      &::after {
        transform: rotate(-45deg);
        transition-delay: 0.3s;
      }
    }
  }
}