.intro {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 683px;
  background-color: $color-white-smoke;

  .container {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 0;
  }

  .intro__slider {
    flex-grow: 1;
  }

  &__left {
    background-color: $color-snow;

    .title {
      max-width: 185px;
    }
  }
}