.news {
  padding: 172px 0 175px;

  @include vp-767 {
    padding: 124px 0 117px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 68px;

    @include vp-767 {
      flex-direction: column;
      margin-bottom: 40px;
    }

    .btn {
      height: max-content;
      margin-top: 7px;
      gap: 16px;

      @include vp-767 {
        flex-direction: row-reverse;
      }
    }

    p {
      @include vp-767 {
        margin-bottom: 23px;
      }
    }
  }

  &__text-wrapper {
    max-width: 725px;

    .title {
      margin-bottom: 25px;

      @include vp-767 {
        margin-bottom: 20px;
      }
    }
  }


  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 415px);
    grid-row-gap: 40px;
    grid-column-gap: 65px;
    width: 100%;

    @include vp-1919 {
      justify-content: center;
    }

    @include vp-767 {
      grid-template-columns: calc(100% - 20px);
      justify-content: flex-start;
      gap: 20px;

      .new:nth-child(n+4) {
        display: none;
      }
    }
  }
}