.slide {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 5.47%;

  &__text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
  }

  .scroll-to {
    margin-right: 7.45%;
  }

  &__img {
    width: 557px;
    height: 555px;

    @include vp-1919 {
      width: 44.9vw;
      height: 28.9vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}