.scroll-to {
  display: flex;
  gap: 16px;
  height: max-content;
  writing-mode: vertical-lr;

  &__text {
    font-size: 16px;
    transform: rotate(180deg);
  }

  svg {
    display: inline-block;
    width: 25px;
    height: 38px;
    object-fit: cover;
  }
}